#idea
.idea/

#VSCode
.vscode/

#Build Folder
build/
build/
cmake-build-debug/

#Temporary files
build.tar.xz


.DS_Store
node_modules/
/dist/

# local env files
.env.local
.env.*.local

#openCV files
scripts/installation
scripts/opencv
scripts/opencv_contrib
scripts/OpenCV-master-py3


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*